<header>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">YoCompute</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" i18n="@@home">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" i18n="@@service">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" i18n="@@portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="heroes#contact_us" i18n="@@contactUs">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
<!--   <div id="stuck_container" class="stuck_container">
      <div class="container">
        <div class="navbar-header">
          <h1 class="navbar-brand">
            <a href="./"> YoCompute </a>
          </h1>
        </div>

        <nav class="navbar navbar-default navbar-static-top ">
          <ul class="navbar-nav sf-menu navbar-right" data-type="navbar">
            <li class="active">
              <a href="./">首页</a>
            </li>
            <li class="dropdown">
              <a href="index-2.html">服务</a>
            <li>
            <a href="index-1.html">案例</a>
            </li>
            <li class="dropdown">
              <a href="#">联系我们</a>
            </li>
          </ul>
        </nav>
      </div>
    </div> -->
</header>