<header>

  <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">YoCompute</a>

    <!-- <div class="collapse navbar-collapse" id="navbarContent"> -->
      <!-- <div class="container"> -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home" i18n="@@home">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="service" i18n="@@service">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="portfolio" i18n="@@portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" i18n="@@contactUs">Contact</a>
        </li>
      </ul>
    <!-- </div> -->
    <!-- </div> -->
  </nav>

</header>



