.copyright {
    // background: #f6f6f6;
    margin-top: 20px;
    margin-bottom: 20px;
    font: 400 14px/14px 'Ubuntu', sans-serif;
    color: #414851;
}
a {
    color: #414851 !important;
    font: 400 14px/14px 'Ubuntu', sans-serif;
}
span{
    font: 400 14px/14px 'Ubuntu', sans-serif;
}