<section class="price-section">
  <div class="container text-center">
    <div class="row">
      <div class="price-title">
        <h1 class="title-xl" i18n="@@priceList">Price List</h1>
        <div class="title-md" i18n="@@weProvideBestWeb">We provide the competitive service and price</div>
      </div>
      <div class="col-sm-4 col-md-4 col-xs-4">
        <div class="price-box">
          <div class="title-bg" i18n="@@businesShowcase">Business Showcase Web</div>
          <div class="price">
            <span class="price-unit" i18n="@@40Off">40% Off</span>
            $699
            <div class="after-price"></div>
          </div>
          <div class = "pricing-features">
            <ul>
              <li i18n="@@generalTemp">General Template Program (One site)</li>
              <li i18n="@@staticPage">Static Page Graphic Design (5 pages)</li>
              <li i18n="@@pagePosition">Page Position Adjustment (5 position)</li>
              <li i18n="@@googleMap">Google Map or Bing Map</li>
              <li i18n="@@freeHosting">Free Hosting and Domain (One year)</li>
              <li i18n="@@freeCourse">Free Course of How to use the Site</li>
              <li i18n="@@mobileVision">Mobile Vision Support (Plus $299)</li>
            </ul>
          </div>
          <div class="pricing-action">
            <a class="link" i18n="@@contactUs" href="contact_us">Contact Us</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-xs-4">
        <div class="price-box">
          <div class="title-bg" i18n="@@IntermediateMember">Standard E-Commerce</div>
          <div class = "price">
            <span class="price-unit" i18n="@@50Off">50% Off</span>
            $1399
          </div>
          <div class = "pricing-features">
            <ul>
              <li i18n="@@membershipLog">Membership Log in &amp; Register System</li>
              <li i18n="@@membershipManage">Membership Management System</li>
              <li i18n="@@staticPage15">Static Page Graphic Design (15 pages)</li>
              <li i18n="@@pagePosition15">Page Position Adjustment (15 position)</li>
              <li i18n="@@multiLanguageInterface">Multi-language (Simplified Chinese, English)</li>
              <li i18n="@@encrySecurity">Encryption Security System</li>
              <li i18n="@@freeCourse">Free Course of How to use the site</li>
              <li i18n="@@freeUpgrade">Free Upgrade Service (Half year)</li>
              <li i18n="@@mobileVision499">Mobile Vision Support (Plus $499)</li>
            </ul>
          </div>
          <div class="pricing-action">
            <a class="link" i18n="@@contactUs" href="contact_us">Contact Us</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-xs-4">
        <div class="price-box">
          <div class="title-bg" i18n="@@seniorMember">Advanced E-Commerce</div>
          <div class="price">
            <span class="price-unit" i18n="@@40Off">40% Off</span>
            $1999
          </div>
          <div class = "pricing-features">
            <ul>
              <li i18n="@@membershipLog">Membership Log in &amp; Register System</li>
              <li i18n="@@mallShopping">Mall + Shopping + Payment System</li>
              <li i18n="@@membershipAndOrder">Membership &amp; Order Management System</li>
              <li i18n="@@staticPage20">Static Page Graphic Design (20 pages)</li>
              <li i18n="@@pagePostion20">Page Position Adjustment (20 position)</li>
              <li i18n="@@multiLanguageInterface">Multi-language (Simplified Chinese, English)</li>
              <li i18n="@@encrySecurity">Encryption Security System</li>
              <li i18n="@@freeCourse">Free Course of How to use the site</li>
              <li i18n="@@freeUpgrade">Free Upgrade Service (one year)</li>
              <li i18n="@@mobileVision699">Mobile Vision Support (Plus $699)</li>
            </ul>
          </div>
          <div class="pricing-action">
            <a class="link" i18n="@@contactUs" href="contact_us">Contact Us</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>