<section class="service-section">
      <div class="container text-center">
        <div class="row group-layout">
          <div class="col-md-5 col-sm-12 col-xs-12 left-side">
            <img src="/assets/home/responsive-design.png" alt="Resposive Design"/>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12 right-side">
            <div class="title-xl">{{'HOW_IT_WORKS'|translate}}</div>
            <div class="sub-title">
              <div class="title-bg">{{'HOW_IT_WORKS_SUBTITILE'|translate}}</div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section class="price-section">
  <div class="container text-center">
    <div class="row">
      <div class="price-title">
        <h1 class="title-xl" >{{'COMPARATION'|translate}}</h1>
        <!-- <div class="title-md">{{'COMPARATION_SUBTITLE'|translate}}</div> -->
      </div>
            
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="price-box">
          <div class = "price">
                <h6 class="title-md">
                  <div>{{'TRADITIONAL_MODE'|translate}}</div>
                </h6>
          </div>
          <div class = "pricing-features">

                <p>{{'HIGH_COST_LABOUR_HARD_STAY'|translate}}</p>
                <p>{{'HIGH_COST_OFFICE'|translate}}</p>
                <p>{{'HIGH_QUALITY'|translate}}</p>
                <p>{{'LOW_RISK_PM'|translate}}</p>
                <p>{{'LOW_FLEXIBILITY'|translate}}</p>
          </div>
          <div class="pricing-action">
            <a class="link" routerLink="contact">{{'CONTACT_US' | translate}}</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="price-box">
          <div class="price">
                <h6 class="title-md">
                  <div>{{'OUTSOURCING_MODE'|translate}}</div>
                </h6>
          </div>
          <div class = "pricing-features">

                <p>{{'LOW_COST_LABOUR_HARD_STAY'|translate}}</p>
                <p>{{'LOW_COST_OFFICE'|translate}}</p>
                <p>{{'LOW_QUALITY'|translate}}</p>
                <p>{{'HIGH_RISK_PM'|translate}}</p>
                <p>{{'LOW_FLEXIBILITY'|translate}}</p>
          </div>
          <div class="pricing-action">
            <a class="link" routerLink="contact">{{'CONTACT_US' | translate}}</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="price-box">
          <div class = "price">
                <h6 class="title-md">
                  <div>{{'OUR_SOLUTION'|translate}}</div>
                </h6>
          </div>
          <div class = "pricing-features">
                <p>{{'LOW_COST_LABOUR_EASY_STAY'|translate}}</p>
                <p>{{'LOW_COST_OFFICE'|translate}}</p>
                <p>{{'HIGH_QUALITY'|translate}}</p>
                <p>{{'LOW_RISK_PM'|translate}}</p>
                <p>{{'HIGH_FLEXIBILITY'|translate}}</p>
          </div>
          <div class="pricing-action">
            <a class="link" routerLink="contact">{{'CONTACT_US' | translate}}</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>