.right-side{
	padding-top:50px;
}

.left-side{
	p{
		font-size:14px;
	}
}

@media (min-width:576px) and (max-width: 767px){
	.right-side{
		padding-top:10px;
	}
}

@media (max-width:575px){
	.right-side{
		padding-top:10px;
	}
}