
<section class="map-section">
    <!-- google map component -->
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker [latitude]="lat" [longitude]="lng">
         <agm-snazzy-info-window [maxWidth]="400" [closeWhenOthersOpen]="true">
          <ng-template>
            352 Front St W suite-2301, Toronto, ON
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>
    </agm-map>
</section>

<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12">
        <h3 class="title-bg" i18n="@@contactUs">Contact Us</h3>
        <ul>
          <li>
            <span class="fa fa-map-marker"></span>
            <span class="title-md" i18n="@@address">Address</span>
            <p>352 Front St W suite-2301, Toronto, ON, Canada.</p>
          </li>
          <li>
            <span class="fa fa-mobile"></span>
            <span class="title-md" i18n="@@phones">Phones</span>
            <p>+519-9320586</p>
          </li>
          <li>
            <span class="fa fa-envelope"></span>
            <span class="title-md" i18n="@@email">Email</span>
            <p>support@yocompute.com</p>
          </li>
        </ul>
      </div>

      <div class="col-md-9 col-sm-9 col-xs-12">

        <app-feedback></app-feedback>
      </div>
    </div>
  </div>
</section>
