<section class="portfolio-section" data-mobile="true" data-speed="1">
  <div class="container" id="portfolio">
    <h3 class="title-lg" i18n="@@portfolio">Portfolio</h3>

    <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-4" data-wow-delay="0.2s">
        <div class="portfolio">
          <a href="http://visualsx.com">
            <img src="/assets/home/xiangwang.PNG" alt=""/>

            <div class="post_info">
              <div class="title-md" i18n="@@xiangwang">Visualsx</div>
              <p i18n="@@xiangwangdetail">An online trading platform for photography with forgery distinguishability feature</p>
              <div class="post_meta">
                <time datetime="2015-08-21" class="fa fa-clock-o" i18n="@@">Oct. 2017</time>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-xs-4" data-wow-delay="0.4s">
        <div class="portfolio">
          <a href="http://www.powders.ca">
            <img src="/assets/home/western.PNG" alt=""/>
            <div class="post_info">
              <div class="title-md" i18n="@@particleTech">Particle Technology Research Center</div>
              <p i18n="@@particleTechDetail">Particle Technology Research Center belongs to the Department of Chemical and Biochemical Engineering in Western University, Canadian University</p>
              <div class="post_meta">
                <time datetime="2015-08-21" class="fa fa-clock-o" >Nov. 2017</time>
              </div>
            </div>
          </a>
        </div>
<!--         <div class="portfolio">
          <a href="http://rdsource.com">
            <img src="assets/home/rdshop.png" alt=""/>
            <div class="post_info post_info__md">
              <div class="title-md" i18n="@@particleTech">Online Store</div>
              <p>Demo Online Store website</p>

              <div class="post_meta">
                <time datetime="2018-01-21" class="fa fa-clock-o" >Jan. 2018</time>
              </div>
            </div>
          </a>
        </div> -->
<!--         <div class="portfolio">
          <a href="http://abcdfurniture.com">
            <img src="assets/home/ABCD.PNG" alt=""/>
            <div class="post_info">
              <div class="title-md">ABCD Office Furniture</div>
              <p>Markham Office Furniture.</p>

              <div class="post_meta">
                <time datetime="2015-08-21" class="fa fa-clock-o">Aug 21. 2015</time>
              </div>
            </div>
          </a>
        </div> -->
      </div>

      <div class="col-sm-4 col-md-4 col-xs-4" data-wow-delay="0.6s">

<!--         <div class="portfolio">
          <a href="http://ukcvone.com">
            <img src="assets/home/ukcvone.PNG" alt=""/>
            <div class="post_info post_info__md">
              <div class="title-md" i18n="@@particleTech">UK house rental</div>
              <p i18n="@@particleTechDetail">UK students house rental website</p>

              <div class="post_meta">
                <time datetime="2015-08-21" class="fa fa-clock-o" >Oct. 2017</time>
              </div>
            </div>
          </a>
        </div> -->

        <div class="portfolio">
            <a href="https://jymatchmaker.com">
            <img src="assets/home/JYmatch.PNG" alt=""/>
            <div class="post_info">
              <div class="title-md" >JY Match Dating</div>

              <p>Dating website. </p>

              <div class="post_meta">
                <time datetime="2015-08-21" class="fa fa-clock-o">Aug 21. 2015</time>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>