$light-gray: #f6f6f6;
$padding_top:30px;

.primary-font {
    font-family: "Roboto", "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.title-xl{
	font-family: "Roboto", "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 58px;
    font-weight: 300;
    line-height: 64px;
	color: #8dbf41;//#9ca1a8;
}

.title-lg{
    font-family: "Roboto", "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #9ca1a8;    
}

.title-bg{
    font-family: "Microsoft Yahei", 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    color: #414851;//#8dbf41;
}

.title-md{
	font-family: "Microsoft Yahei",'Raleway', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #414851;
}

.title-sm{
    font-family: "Microsoft Yahei",'Raleway', sans-serif;
	line-height:18px;
	font-size:13px;
	font-weight:300;
    color: #414851;
}

.title-xs{
    font-family: "Microsoft Yahei", 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    color: #414851;//#8dbf41;
}

.link{
    color: #8dbf41;
    font-size: 18px;
}


#home-carousel{
    height:460px;

    .carousel-inner{
        height:100%;
        
        .carousel-item{
            .caption{
                position: absolute;
                top:20%;
                color: #ffffff;
                padding-left:300px;
                padding-right:300px;
                text-align:center;

                h2{
                    font-size: 50px;
                    width:100%;    
                }

                p{
                    margin-top:16px;
                    color: #ffffff;
                    font-size: 20px;
                    width:100%;
                }
            }
        }
    }
}


$service_height:500px;
$service_container_height:$service_height - $padding_top;

.service-section{
    height:$service_height;
    padding-top:30px;
    background-color:$light-gray;

    img{
        width:420px;
    }

	.sub-title{
        padding-top:38px;
        text-align:left;
    }

    .service-groups{
        padding-top:30px;
        text-align:left;
    }

    .service-group{
        p{
            line-height:24px;
            font-size:13px;
            font-weight:300;
            color:#8d939b;
            margin-bottom: 10px;
        }
    }

	.primary-text{
		color: #9ca1a8;
	}
	
	.left-side{
	   height:$service_container_height;
	}
	
    .right-side{
        height:$service_container_height;
        padding-left:28px;
        padding-right:0px;

        p{
            display:block;
        }
    }
}



.core-section{
    position: relative;
    background-image: url('../../assets/home/parallax1.jpg');
    height: 452px;
    transform: translate3d(0px, -44.1891px, 0px);
    color: #ffffff;
    padding: 60px 0px;

    .block-icon {
        position: relative;
        padding-left: 51px;
    }

    .icon {
        position: absolute;
        font: 400 32px/32px 'FontAwesome';
        color: #8dbf41;
        display: inline-block;
        text-align: center;
        left: 2px;
        top: -2px;
    }

    .row{
        margin-top:20px;
    }
}

.vision-section{
    background: #8dbf41;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;

    .title-lg, .title-md{
        color:#ffffff;
    }
}

.portfolio-section{
    background-image: url(../../assets/home/parallax2.jpg);
}

// .contact-us{
//     .well6 {
//         padding-bottom: 42px;
//         padding-top: 95px;
//     }
//     .well--skin {
//         padding-top: 42px;
//         padding-bottom: 36px;
//         .contact-info {
//             position: relative;
//             padding-left: 86px;
//             margin-left: 26px;
//             p:first-child {
//                 color: #414851;
//                 font: 400 20px/24px 'Raleway', sans-serif;
//             }
//             p:last-child , a{
//                 font-size:13px;
//                 color: #8d939b;
//                 font-family: "Roboto", Helvetica, Arial, sans-serif;
//                 font-weight: 300;
//             }
//             p {
//                 margin-top: 0;
//                 margin-bottom: 8px;
//             }
//         }
//         .contact-info:before {
//             position: absolute;
//             top: -16px;
//             left: 0;
//             color: #fff;
//             width: 73px;
//             height: 73px;
//             background: #8dbf41;
//             text-align: center;
//             font-size: 35px;
//             line-height: 73px;
//             border-radius: 50%;
//         }
//     }
// }
// .team-portrait{
//     // padding-left:25px;
//     // padding-right:25px;
//     .thumb-links img {
//         width: 100%;
//         height: auto;
//         border-radius: 50%;
//     }
//     .thumb-links{
//         padding-left: 15px;
//         padding-right: 15px;
//     }
//     h4 {
//         font-size: 26px;
//         line-height: 26px;
//     }
//     .fw-l {
//         font-weight: 300;
//     }
//     .h4--mod--skin {
//         font-size: 26px;
//         line-height: 26px;
//     }
//     .event-style {
//         display: inline-block;
//         font: 400 24px/24px 'Open Sans', sans-serif;
//         color: #8dbf41;
//         padding: 8px 7px;
//         border: solid 1px #8dbf41;
//         text-transform: capitalize;
//         font-size: 17px;
//         line-height: 18px;
//         font-weight: 400;
//         margin-top: 18px;
//     }
//     a:hover {
//         text-decoration: none;
//         color: #8dbf41;
//     }
//     a {
//         color: #414851;
//     }
//     p{
//         color: #8d939b;
//     }
// }
// .fa-clock-o:before {
//     padding-right: 5px;
// }
// ul{
//     list-style-type: none;
//     padding-right:40px;
// }
// .features{
//     background-image: url(../../assets/home/parallax1.jpg);
//     color:#ffffff;
//     h3 {
//         font-size: 36px;
//         font-family: 'Raleway', sans-serif;
//         font-weight: 400;
//         margin-bottom:50px;
//     }
//     a {
//         color: #ffffff;
//     }
//     p{
//         margin-top:15px;
//     }
//     .col-4_mod div:nth-child(n+4) {
//         margin-top: 42px;
//     }
// }
// .well3 {
//     padding-bottom: 74px;
//     padding-top: 70px;
//     h2{
//         font-size: 50px;
//         color: #fff;
//     }
//     p{
//         font-size: 22px;
//         color: #fff;
//         padding-left: 5%;
//         padding-right: 5%;
//     }
// }
// .bg-primary {
//     background: #8dbf41!important;;
// }
// .container {
//     margin-right: auto;
//     margin-left: auto;
//     padding:0;
// }
// .portfolio{
//     h3{
//         font-size: 36px;
//         font-family: 'Raleway', sans-serif;
//         font-weight: 400;
//         color: #ffffff;
//         margin-bottom:50px;
//     }
//     background-image: url(../../assets/home/parallax2.jpg);
//     .post {
//         display: block;
//         position: relative;
//         background: rgba(36, 36, 36, 0.6);
//         img {
//             height: auto;
//         }
//         a {
//             color: #ffffff;
//         }
//     }
//     .post_info {
//         padding: 42px 30px 31px 25px;
//         p {
//             color: #9ca1a8;
//             margin-top: 9px;
//             font-size:13px;
//         }
//         .post_meta {
//             margin-top: 17px;
//             color: #8dbf41;
//             font-size: 12px;
//             font-weight: 400;
//             font-family: "Roboto", Helvetica, Arial, sans-serif;
//         }
//     }
//     .second-row {
//         margin-top: 30px;
//     }
// }


// agm-map {
//     width: 100%;
//     height: 500px;
// }
// .bottom-area{
//     ul, ol {
//         padding: 0;
//         list-style: none;
//         margin: 0;
//     }
//     .marked-list {
//         margin-top: 44px;
//     }
//     .marked-list li {
//         padding-left: 28px;
//         position: relative;
//         width:100%;
//         margin-top: 5px;
//     }
//     li:before {
//         position: absolute;
//         left: 0;
//         font-weight: 400;
//         font-family: 'FontAwesome';
//         color: #8dbf41;
//         font-size: 20px;
//         top:0;
//     }
//     p{
//         font-size:13px;
//         color: #8d939b;
//         font-family: "Roboto", Helvetica, Arial, sans-serif;
//         font-weight: 300;
//         line-height: 1.84615385;
//         padding: 0; 
//         margin: 0;
//     }
// }




// @-webkit-keyframes moveInLeft {
//   0% {
//     opacity: 0;
//     -webkit-transform: translate3d(-100%, 0, 0);
//     transform: translate3d(-100%, 0, 0);
//   }

//   100% {
//     opacity: 1;
//     -webkit-transform: none;
//     transform: none;
//   }
// }

// @keyframes moveInLeft {
//   0% {
//     opacity: 0;
//     -webkit-transform: translate3d(-100%, 0, 0);
//     -ms-transform: translate3d(-100%, 0, 0);
//     transform: translate3d(-100%, 0, 0);
//   }

//   100% {
//     opacity: 1;
//     -webkit-transform: none;
//     -ms-transform: none;
//     transform: none;
//   }
// }

// .moveInLeft {
//   -webkit-animation-name: moveInLeft;
//   animation-name: moveInLeft;
// }

// @-webkit-keyframes moveInRight {
//   0% {
//     opacity: 0;
//     -webkit-transform: translate3d(100%, 0, 0);
//     transform: translate3d(100%, 0, 0);
//   }

//   100% {
//     opacity: 1;
//     -webkit-transform: none;
//     transform: none;
//   }
// }

// @keyframes moveInRight {
//   0% {
//     opacity: 0;
//     -webkit-transform: translate3d(100%, 0, 0);
//     -ms-transform: translate3d(100%, 0, 0);
//     transform: translate3d(100%, 0, 0);
//   }

//   100% {
//     opacity: 1;
//     -webkit-transform: none;
//     -ms-transform: none;
//     transform: none;
//   }
// }

// .moveInRight {
//   -webkit-animation-name: moveInRight;
//   animation-name: moveInRight;
// }

@media (min-width: 1200px){

}

@media (min-width: 768px) and (max-width: 1199px){

}

@media (min-width:576px) and (max-width: 767px){
    .text-center{
        text-align: center;
    }
    #home-carousel{
        display: none;
    }
    .service-section{
        width:100%;
        max-height:380px;

        .left-side, .right-side{
            height:380px;
        }

        .service-group, .group-layout{
            flex-wrap: nowrap;
        }
        
        .right-side{
            display:none;
        }

        .container{
            padding:0px;
        }
        img{
            width:90%;
        }
    }
    .core-section, .vision-section{
        display:none;
    }
}

@media (max-width: 575px){
    .title-xl{
        font-size: 36px;
    }
    #home-carousel{
        display: none;
    }
    .service-section{
        width:100%;
        max-height:380px;
        .left-side, .right-side{
            height:380px;
        }
        
        .right-side{
            display:none;
        }
        .service-group, .group-layout{
            flex-wrap: nowrap;
            display: -webkit-box;
        }
        .container{
            padding:0px;
        }
        img{
            width:90%;
        }
    }
    .core-section, .vision-section{
        display:none;
    }
}