#home-carousel{
	height:546px;

	.carousel-inner{
		height:100%;
        .carousel-item{
            h2{
                position: absolute;
                top: 30%;
                color: #ffffff;
                font-size: 50px;
                width:100%;
            }
            p{
                position: absolute;
                top: 45%;
                color: #ffffff;
                font-size: 20px;
                width:100%;
            }
        }
	}
}
.text-primary {
    color: #8dbf41!important;
}
.ff-secondary {
    font-family: 'Raleway', sans-serif;
}
h1, .h1 {
    font-size: 59px;
}
img {
    vertical-align: middle;
    max-width: 100%;
    height: 100%;
    border: 0;
}
.row {
    margin-top:20px;
}
.well {
    padding-bottom: 93px;
    padding-top: 107px;
}
.bg-lighter {
    background: #f6f6f6;
}
.price-postion{
    padding-bottom:93px;
    padding-top:14px;
    border-top: 1px solid rgba(0,0,0,0.075);
}
.price-title{
    margin-top:30px;
    margin-bottom: 20px;
    text-align:center!important;
    width: 100%;
}
.price-title h2{
    font-size: 40px;
    font-weight: 700;
}
.price-title span{
    margin-top:10px;
    font-size:30px;
    font-weight: 300;
}
.pricing-box{
    position: relative;
    border: 1px solid rgba(0,0,0,0.075);
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    font-weight: 300
}
.pricing-title{
    padding: 15px 0;
    background-color: #F9F9F9;
    border-radius: 3px 3px 0 0;
    /*text-shadow: 1px 1px 1px #FFF;*/
    border-bottom: 1px solid rgba(0,0,0,0.05);
    font-size:25px;
    font-weight: 500px
}
.pricing-price{
    position: relative;
    padding: 25px 0;
    color: #333;
    font-weight: 300;
    font-size: 30px;
    line-height: 1;
}
.pricing-price .after-price {
    content: '';
    position: absolute;
    width: 100px;
    border-top: 1px solid rgba(0,0,0,0.1);
    top: auto;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
}
.pricing-price span {
    display: inline-block;
    vertical-align: top;
    margin: 7px 3px 0 0;
    font-size: 20px;
    font-weight: normal;
}
.pricing-price .price-unit{
    color: #ff0000;
}
.pricing-features {
    border-bottom: 1px solid rgba(0,0,0,0.075);
}
.pricing-features li {
    /*padding: 6px 0;*/
    font-size: 15px;
}
.pricing-action {
    padding: 15px 30px;
}
.link-info{
    color: #03a9f4;
    font-size: 18px;
}
.content-style{
    margin-top:20px;
    margin-left: 12px;
}
h3{
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.team-portrait{
    // padding-left:25px;
    // padding-right:25px;
    .thumb-links img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    .thumb-links{
        padding-left: 15px;
        padding-right: 15px;
    }
    h4 {
        font-size: 26px;
        line-height: 26px;
    }
    .fw-l {
        font-weight: 300;
    }
    .h4--mod--skin {
        font-size: 26px;
        line-height: 26px;
    }
    .event-style {
        display: inline-block;
        font: 400 24px/24px 'Open Sans', sans-serif;
        color: #8dbf41;
        padding: 8px 7px;
        border: solid 1px #8dbf41;
        text-transform: capitalize;
        font-size: 17px;
        line-height: 18px;
        font-weight: 400;
        margin-top: 18px;
    }
    a:hover {
        text-decoration: none;
        color: #8dbf41;
    }
    a {
        color: #414851;
    }
}
ul{
    list-style-type: none;
    padding-right:40px;
}
.features{
    background-image: url(../../assets/home/parallax1.jpg);
    color:#ffffff;
    h3 {
        font-size: 36px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }
    a {
        color: #ffffff;
    }
}
.well3 {
    padding-bottom: 74px;
    padding-top: 70px;
    h2{
        font-size: 50px;
        color: #fff;
    }
    p{
        font-size: 22px;
        color: #fff;
        padding-left: 5%;
        padding-right: 5%;
    }
}
.bg-primary {
    background: #8dbf41!important;;
}
