<!-- <div style="text-align:center"> -->

<!-- 	<section class="camera_container text-center">
		<div id="camera" class="camera_wrap">
	          <img src="/assets/home/slide01.png" />
	          <div class="camera_caption fadeIn">

	            <h2>Striving to excellence in everything we do!</h2>

	            <p
	              class="h5">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
	            <a href="#" class="btn btn-info">Join Our Team</a>
	          </div>
	    </div>
	</section>
 -->
 <section class="camera_container text-center">
<div id="home-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home-carousel" data-slide-to="1"></li>  
    <li data-target="#home-carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="/assets/home/slide01.jpg" alt="First slide">
      <!-- <div class="carousel-caption d-none d-md-block"> -->
        <h2>从网站设计，开发，架设和维护，提供一站式服务</h2>
        <p>我们为您提供成熟的全套桌面，平板和手机解决方案，快速帮助你设立网站或电子商务平台，我们专注创新，坚持品质，信誉第一</p>
      <!-- </div> -->
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="/assets/home/slide02.jpg" alt="Second slide">
      <!-- <div class="carousel-caption d-none d-md-block"> -->
        <h2>电子商务网站开发</h2>
        <p>我们提供可选的域名申请，主机提供，亚马逊云服务，网站和平台设计，开发和维护服务</p>
      <!-- </div> -->
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="/assets/home/slide03.jpg" alt="Third slide">
      <!-- <div class="carousel-caption d-none d-md-block"> -->
        <h2>电子商务网站建设课程</h2>
        <p>面对面的小班精英式授课， 业界资深专家耐心授课， 为学员提供每日基础强化班课程以及高级周末强化班课程，灵活的授课时间，
          <br>不同的教学方式以满足学员不同需求！</p>
      <!-- </div> -->
    </div>
  </div>
  <a class="carousel-control-prev" href="#home-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#home-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>

	<section class="well bg-lighter">
      <div class="container center767">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12" data-wow-delay="0.2s">
            <img src="/assets/home/responsive-design.png" alt="Resposive Design"/>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12" data-wow-delay="0.4s">
            <h1 class="text-primary ff-secondary">我们可以做什么？</h1>

            <p class="h4 text-primary ff-secondary">帮您快速部署一个可靠，稳定，高度定制化而且可以根据您的业务持续改进的商务平台</p>

            <div class="row">
              <div class="col-sm-6 col-md-6 col-xs-6">
                <h6 class="text-secondary fw-n">
                  <a href='#'>移动应用开发</a>
                </h6>
                <p>IOS 应用开发</p>
                <p>Android 应用开发</p>
                <p>微信及其他平台应用开发</p>
                <p>定制应用开发</p>
                <p>平台维护，移植和扩展</p>
              </div>
              <div class="col-sm-6 col-md-6 col-xs-6">
                <h6 class="text-secondary fw-n">
                  <a href='#'>网站建设</a>
                </h6>
                <p>域名注册和部署</p>
                <p>主机注册和部署</p>
                <p>亚马逊云服务注册和部署</p>
              </div>
              <div class="col-sm-6 col-md-6 col-xs-6">
                <h6 class="text-secondary fw-n">
                  <a href='#'>软件开发</a>
                </h6>
                <p>办公管理系统开发</p>
                <p>定制软件开发</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="price-postion">
      <div class="container center767">
        <div class="row">
          <div class = "price-title">
            <h2>价目表</h2>
            <span>我们竭诚提供最优质的建站服务</span>
          </div>
          <div class ="col-md-4">
            <div class="pricing-box">
              <div class = "pricing-title">企业展示网站</div>
              <div class = "pricing-price"><span class="price-unit">6折</span>
                $599
                <div class="after-price"></div>
              </div>
              <div class = "pricing-features">
                <ul>
                  <li>通用模版程序一套</li>
                  <li>5个静态页面图文设计</li>
                  <li>5处版面位置调整</li>
                  <li>谷歌或必应地图</li>
                  <li>免费一年主机和域名服务</li>
                  <li>免费网站使用培训</li>
                  <li>手机版支持（另$299)</li>
                </ul>
              </div>
              <div class="pricing-action">
                <a href="#" class="link-info">联系我们</a>
              </div>
            </div>
          </div>
          <div class ="col-md-4">
            <div class="pricing-box" style="">
              <div class = "pricing-title">中级会员网站</div>
              <div class = "pricing-price"><span class="price-unit">5折</span>
                $1299+
                <div class="after-price"></div>
              </div>
              <div class = "pricing-features">
                <ul>
                  <li>会员登陆注册系统</li>
                  <li>会员管理系统</li>
                  <li>15个页面图文设计</li>
                  <li>15处版面位置调整</li>
                  <li>多语言界面（简中，英）</li>
                  <li>加密安全系统</li>
                  <li>免费网站使用培训</li>
                  <li>免费半年升级维护</li>
                  <li>手机版支持（另$499)</li>
                </ul>
              </div>
              <div class="pricing-action">
                <a href="#" class="link-info">联系我们</a>
              </div>
            </div>
          </div>
          <div class ="col-md-4">
            <div class="pricing-box" style="">
              <div class = "pricing-title">高级级会员网站</div>
              <div class = "pricing-price"><span class="price-unit">6折</span>
                $1999+
                <div class="after-price"></div>
              </div>
              <div class = "pricing-features">
                <ul>
                  <li>会员登陆注册系统</li>
                  <li>商城+购物+支付系统</li>
                  <li>会员，订单，商品管理系统</li>
                  <li>20个页面图文设计</li>
                  <li>20处版面位置调整</li>
                  <li>多语言界面（简中，英）</li>
                  <li>加密安全系统</li>
                  <li>免费网站使用培训</li>
                  <li>免费半年升级维护</li>
                  <li>手机版支持（另$699)</li>
                </ul>
              </div>
              <div class="pricing-action">
                <a href="#" class="link-info">联系我们</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="parallax well2 features" data-mobile="true" data-speed="1">
      <div class="container">
        <h3 class="text-center">我们的核心优势</h3>

        <div class="row col-4_mod offs">
          <div class="col-md-4 col-sm-6 wow fadeInLeft" data-wow-delay="0.6s">
            <div class="block-icon">
              <div class="icon">
                <i class="fa fa-th"></i>
              </div>
              <h5>
                <a href='#'>先进的网络开发技术</a>
              </h5>

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 wow fadeInLeft" data-wow-delay="0.4s">
            <div class="block-icon">
              <div class="icon">
                <span class="fa fa-edit"></span>
              </div>
              <h5>
                <a href='#'>Lorem ipsum dolor</a>
              </h5>

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>

            </div>
          </div>
          <div class="col-md-4 col-sm-6 wow fadeInLeft" data-wow-delay="0.2s">
            <div class="block-icon">
              <div class="icon">
                <span class="fa fa-laptop"></span>
              </div>
              <h5>
                <a href='#'>Nulla facilisi</a>
              </h5>

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 wow fadeInRight" data-wow-delay="0.2s">
            <div class="block-icon">
              <div class="icon icon-lg">
                <span class="fa fa-mobile"></span>
              </div>
              <h5>
                <a href='#'>Vestibulum ante</a>
              </h5>

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 wow fadeInRight" data-wow-delay="0.4s">
            <div class="block-icon">
              <div class="icon">
                <span class="fa fa-cogs"></span>
              </div>
              <h5>
                <a href='#'>Consectetuer adipiscing elit</a>
              </h5>

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>
            </div>

          </div>
          <div class="col-md-4 col-sm-6 wow fadeInRight" data-wow-delay="0.6s">

            <div class="block-icon">

              <div class="icon">
                <span class="fa fa-male"></span>
              </div>
              <h5>
                <a href='#'>In faucibus orci luctus</a>
              </h5>

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>

            </div>
          </div>
        </div>
        <div class="text-center">
          <a href="#" class="btn btn-default">See All Features</a>
        </div>
      </div>
    </section>

     <section class="bg-primary well3 text-center well-2">
      <div class="container wow fadeIn">
        <h2>专注 创新 品质 信誉 </h2>

        <p
          class="inset h4--mod">专注网站建设开发，因为专注所以专业；团队拥有多元背景，更具创新能力；我们始终坚持快速反应，优良品质，信誉第一的理念</p>
      </div>
    </section>


    <section class="well4 bg-lighter">
      <div class="container text-center">
        <h3>我们的团队</h3>

        <div class="row row-off-1">
          <div class="col-md-3 col-sm-6 col-xs-12 center wow fadeInUp team-portrait" data-wow-delay="0.2s">

            <div class="thumb-links">

              <img src="/assets/home/page-1_img02.jpg" alt=""/>

              <div class="over_layer">
                <ul class="_overlay">
                  <li><a class="fa fa-facebook" href="#"></a></li>
                  <li><a class="fa fa-twitter" href="#"></a></li>
                  <li><a class="fa fa-pinterest" href="#"></a></li>
                  <li><a class="fa fa-instagram" href="#"></a></li>
                </ul>
              </div>
            </div>
            <h4 class="h4--mod h4--mod--skin fw-l">
              <a href='#'>Jane Yang</a>
            </h4>

            <p class="event-style event-style--lg">项目经理</p>

            <p>速度和质量是我们的核心优势 </p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 center wow fadeInUp team-portrait" data-wow-delay="0.4s">
            <div class="thumb-links">
              <img src="/assets/home/page-1_img03.jpg" alt=""/>

              <div class="over_layer">
                <ul class="_overlay">
                  <li><a class="fa fa-facebook" href="#"></a></li>
                  <li><a class="fa fa-twitter" href="#"></a></li>
                  <li><a class="fa fa-pinterest" href="#"></a></li>
                  <li><a class="fa fa-instagram" href="#"></a></li>
                </ul>
              </div>
            </div>
            <h4 class="h4--mod h4--mod--skin fw-l">
              <a href='#'>Martin Zhang</a>
            </h4>

            <p class="event-style event-style--lg">Web & APP 开发员</p>

            <p>用热诚激情创造价值 </p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 center wow fadeInUp team-portrait" data-wow-delay="0.6s">

            <div class=" thumb-links">
              <img src="/assets/home/page-1_img04.jpg" alt=""/>

              <div class="over_layer">
                <ul class="_overlay">
                  <li><a class="fa fa-facebook" href="#"></a></li>
                  <li><a class="fa fa-twitter" href="#"></a></li>
                  <li><a class="fa fa-pinterest" href="#"></a></li>
                  <li><a class="fa fa-instagram" href="#"></a></li>
                </ul>
              </div>
            </div>

             <h4 class="h4--mod h4--mod--skin fw-l">
              <a href='#'>Yuki Cheng</a>
            </h4>

            <p class="event-style event-style--lg"> Web & APP 开发员</p>

            <p>专注于用户需求，用心造就品质 </p>

          </div>

          <div class="col-md-3 col-sm-6 col-xs-12 center wow fadeInUp team-portrait" data-wow-delay="0.8s">

            <div class=" thumb-links">

              <img src="/assets/home/page-1_img05.jpg" alt=""/>

              <div class="over_layer">
                <ul class="_overlay"> 
                  <li><a class="fa fa-facebook" href="#"></a></li>
                  <li><a class="fa fa-twitter" href="#"></a></li>
                  <li><a class="fa fa-pinterest" href="#"></a></li>
                  <li><a class="fa fa-instagram" href="#"></a></li>
                </ul>
              </div>
            </div>

            <h4 class="h4--mod h4--mod--skin fw-l">
              <a href='#'>Julia Berzkalna</a>
            </h4>

            <p class="event-style event-style--lg">HR Manager</p>

            <p>Praesent vestibulum molestie lacus aenean nonummy hendrerit mauris phasel Fusce suscipit varius mi. </p>
          </div>
        </div>
      </div>
    </section>

    <section class="parallax well5 portfolio" data-mobile="true" data-speed="1">
      <div class="container">
        <h3 class="text-center">案例</h3>

        <div class="row offs2">
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
            <article class="post">
              <div class="post_cnt">
                <img src="/assets/home/xiangwang.PNG" alt=""/>

                <div class="post_info">
                  <h5>
                    <a href='#'>像罔</a>
                  </h5>

                  <p>像罔高端线上摄影作品交易平台，以线上电子防伪功能为特色</p>

                  <div class="post_meta">
                    <time datetime="2015-08-21" class="fa-clock-o">Oct. 2017</time>
                   <!--  <p class="fa-user">Admin</p>

                    <p class="fa-tags">dapibus, eget, elemen</p> -->
                  </div>

                </div>
              </div>
             <!--  <div class="post_overlay">
                <div class="post_overlay_info center">
                  <h5>像罔</h5>

                  <p>像罔高端线上摄影作品交易平台，以线上电子防伪功能为特色</p>
                  <a href="#" class="btn btn-primary btn-sm">More</a>
                </div>
              </div> -->
            </article>

            <article class="post second-row">
              <div class="post_cnt ">

                <div class="post_info post_info__md">
                  <h5>
                    <a href='#'>Excepteur sint occaecaton</a>
                  </h5>

                  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.</p>

                  <div class="post_meta">
                    <time datetime="2015-08-21" class="fa-clock-o">Aug 21. 2015</time>
                    <!-- <p class="fa-user">Admin</p>

                    <p class="fa-tags">dapibus, eget, elemen</p> -->
                  </div>

                </div>
              </div>
             <!--  <div class="post_overlay">
                <div class="post_overlay_info post_overlay_info__md center">
                  <h5>Excepteur sint occaecaton</h5>

                  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. </p>
                  <a href="#" class="btn btn-sm">More</a>
                </div>
              </div> -->
            </article>
          </div>
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.4s">
            <article class="post">
              <div class="post_cnt">

                <div class="post_info post_info__md">
                  <h5>
                    <a href='#'>Excepteur sint occaecaton</a>
                  </h5>

                  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>

                  <div class="post_meta">
                    <time datetime="2015-08-21" class="fa-clock-o">Aug 21. 2015</time>
                    <!-- <p class="fa-user">Admin</p>

                    <p class="fa-tags">dapibus, eget, elemen</p> -->
                  </div>

                </div>
              </div>
             <!--  <div class="post_overlay">
                <div class="post_overlay_info  post_overlay_info__md center">
                  <h5>Excepteur sint occaecaton</h5>

                  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. </p>
                  <a href="#" class="btn btn-sm">More</a>
                </div>
              </div> -->
            </article>
            <article class="post second-row">
              <div class="post_cnt">
                <img src="assets/home/page-1_img07.jpg" alt=""/>

                <div class="post_info">
                  <h5>
                    <a href='#'>Excepteur sint occaecaton</a>
                  </h5>

                  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>

                  <div class="post_meta">
                    <time datetime="2015-08-21" class="fa-clock-o">Aug 21. 2015</time>
                   <!--  <p class="fa-user">Admin</p>

                    <p class="fa-tags">dapibus, eget, elemen</p> -->
                  </div>

                </div>
              </div>
             <!--  <div class="post_overlay">
                <div class="post_overlay_info center">
                  <h5>Excepteur sint occaecaton</h5>

                  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. </p>
                  <a href="#" class="btn btn-sm">More</a>
                </div>
              </div> -->
            </article>
          </div>
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.6s">
            <article class="post">
              <div class="post_cnt">
                <img src="assets/home/page-1_img08.jpg" alt=""/>

                <div class="post_info">
                  <h5>
                    <a href='#'>Excepteur sint occaecaton</a>
                  </h5>

                  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. </p>

                  <div class="post_meta">
                    <time datetime="2015-08-21" class="fa-clock-o">Aug 21. 2015</time>
                    <!-- <p class="fa-user">Admin</p>

                    <p class="fa-tags">dapibus, eget, elemen</p> -->
                  </div>

                </div>
              </div>
              <!-- <div class="post_overlay">
                <div class="post_overlay_info center">
                  <h5>Excepteur sint occaecaton</h5>

                  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. </p>
                  <a href="#" class="btn btn-primary btn-sm">More</a>
                </div>
              </div> -->
            </article>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-lighter contact-us">
      <div class="container well6  text-center">
        <h3>联系我们</h3>
      </div>
      <div class="well--skin bg-white">
        <div class="container">
          <div class="row wow fadeInUp" data-wow-delay="0.2s">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-info fa-map-marker ">
                <address><p>地址</p>
                  <p>212 McNicoll Ave North York, ON, Canada.</p></address>
              </div>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-info fa-mobile">
                <p>Phones</p>
                <span>
                  <a href="callto:#">+1 800 559 6580,</a>

                  <a href="callto:#">+1 800 603 6035</a>
                </span>
              </div>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-info fa-envelope">
                <p>邮箱</p>
                <span><a href="mailto:#">support@yocompute.com</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker [latitude]="lat" [longitude]="lng">
         <agm-snazzy-info-window [maxWidth]="300" [closeWhenOthersOpen]="true">
          <ng-template>
            212 McNicoll Ave North York, ON, Canada
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>
    </agm-map>

     <section class="well7 bg-lighter bottom-area">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay="0.2s">
            <h5>我们的团队</h5>
            <ul class="marked-list">
              <li>
                <a href='#'>Yocompute以专注客户的需求，致力于不断创新，日复一日坚持为客户提供高品质网站服务，用行动赢得信誉。我们立足多伦多，为客户量身定制新颖，有品位，稳定，安全，易用的网站。给我们一个合作机会，您将得到无限商机</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInRight clearboth" data-wow-delay="0.4s">
            <h5>我们的服务</h5>
            <ul class="marked-list">
              <li>
                <a href='#'>网站建设</a>
              </li>
              <li>
                <a href='#'>网站策划&咨询</a>
              </li>
              <li>
                <a href='#'>网站程序定制开发</a>
              </li>
              <li>
                <a href='#'>网站优化</a>
              </li>
              <li>
                <a href='#'>网站改版&维护</a>
              </li>
              <li>
                <a href='#'>网站推广&营销</a>
              </li>
              <li>
                <a href='#'>域名&空间&邮箱</a>
              </li>
            </ul>
          </div>
           <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInRight" data-wow-delay="0.2s">
            <h5>客户服务</h5>
            <ul class="marked-list">
              <li>
                <a href='#'>资料下载</a>
              </li>
              <li>
                <a href='#'>常见问题</a>
              </li>
              <li>
                <a href='#'>技术支持</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInRight" data-wow-delay="0.2s">
            <h5>联系我们</h5>
            <ul class="marked-list">
              <li>
                <a href='#'>在线咨询</a>
              </li>
              <li>
                <a href='#'>支付</a>
              </li>
              <li>
                <a href='#'>联系我们</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

