<!-- <div style="text-align:center"> -->

<!-- 	<section class="camera_container text-center">
		<div id="camera" class="camera_wrap">
	          <img src="/assets/home/slide01.png" />
	          <div class="camera_caption fadeIn">

	            <h2>Striving to excellence in everything we do!</h2>

	            <p
	              class="h5">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
	            <a href="#" class="btn btn-info">Join Our Team</a>
	          </div>
	    </div>
	</section>
 -->
 <section class="camera_container text-center">
<div id="home-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home-carousel" data-slide-to="1"></li>  
    <li data-target="#home-carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="/assets/home/slide01.jpg" alt="First slide">
      <!-- <div class="carousel-caption d-none d-md-block"> -->
        <h2 i18n="@@slideshow001">We offer on- site service including Web design, development, 
          setting and maintenance
        </h2>
        <p i18n="@@slideshowContent001">We provide you mature full site desktop, tablet and mobile Web solution to   
          help you establish your Website or E-commerce Platform rapidly. 
        <br>We focus on innovation, and persist quality and reputation first
        </p>
      <!-- </div> -->
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="/assets/home/slide02.jpg" alt="Second slide">
      <!-- <div class="carousel-caption d-none d-md-block"> -->
        <h2 i18n="@@slideshow002">E-commerce Website Development</h2>
        <p i18n="@@slideshowContent002">We provide selectable domain application, host service, Amazon Web Services, Web &amp; ePlatform design, and Web development &amp; maintenance service</p>
      <!-- </div> -->
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="/assets/home/slide03.jpg" alt="Third slide">
      <!-- <div class="carousel-caption d-none d-md-block"> -->
        <h2 i18n="@@slideshow003">Custom scheme is designed by Industry experts, and rapid developed by young team</h2>
        <p i18n="@@slideshowContent003">We focus on the most mainstream cutting-edge technology and advanced management; 
          <br>hence, we have sustained cost advantage to fuse technical and business perfectly. 
          <br>Our operation principle is growing together with our customers rapidly</p>
      <!-- </div> -->
    </div>
  </div>
  <a class="carousel-control-prev" href="#home-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#home-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>

	<section class="section service-section">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-5 col-sm-5 col-xs-12 moveInLeft">
            <img width="460px" src="/assets/home/responsive-design.png" alt="Resposive Design"/>
          </div>
          <div class="col-md-7 col-sm-7 col-xs-12 right-side">
            <h1 class="text-primary title-xl" i18n="@@whatWeDoTitle">What we can do for you?</h1>
            <p class="h4 text-primary title-lg" i18n="@@whatWeDoContent">We are here to help you rapidly build a reliable, stable, highly customized E-commerce Platform which can be continuous improved based on your business.</p>

            <div class="row">
              <div class="col-sm-6 col-md-6 col-xs-6">
                <h6 class="text-secondary fw-n">
                  <a href='#' i18n="@@mobileApp">Mobile APPs Development</a>
                </h6>
                <p i18n="@@IOSApp">IOS APPs Development</p>
                <p i18n="@@androidApp">Android APPs Development</p>
                <p i18n="@@otherApp">Wechat and other ePlatform APPs Development</p>
                <p i18n="@@customeApp">Custom APPs Development</p>
                <p i18n="@@ePlatform">EPlatform Maintenance, Transplantation and Extension</p>
              </div>
              <div class="col-sm-6 col-md-6 col-xs-6">
                <h6 class="text-secondary fw-n">
                  <a href='#' i18n="@@webDev">Web development</a>
                </h6>
                <p i18n="@@domainReg">Domain Register and Deployment</p>
                <p i18n="@@hostingReg">Hosting Register and Deployment</p>
                <p i18n="@@amazonCloud">Amazon Cloud Service Registration and Deployment</p>
              </div>
              <div class="col-sm-6 col-md-6 col-xs-6">
                <h6 class="text-secondary fw-n">
                  <a href='#' i18n="@@programDev">Program Development</a>
                </h6>
                <p i18n="@@officeAd">Office Administration and Management System Development</p>
                <p i18n="@@softwareCus">Software Custom Development</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="price-postion">
      <div class="container center767">
        <div class="row">
          <div class = "price-title">
            <h2 i18n="@@priceList">Price List</h2>
            <span i18n="@@weProvideBestWeb">We provide the best Web development service wholeheartedly</span>
          </div>
          <div class ="col-md-4">
            <div class="pricing-box">
              <div class = "pricing-title" i18n="@@businesShowcase">Business Showcase Web</div>
              <div class = "pricing-price"><span class="price-unit" i18n="@@40Off">40%Off</span>
                $599
                <div class="after-price"></div>
              </div>
              <div class = "pricing-features">
                <ul>
                  <li i18n="@@generalTemp">General Template Program (One site)</li>
                  <li i18n="@@staticPage">Static Page Graphic Design (Five pages)</li>
                  <li i18n="@@pagePosition">Page Position Adjustment (Five position)</li>
                  <li i18n="@@googleMap">Google Map or Bing Map</li>
                  <li i18n="@@freeHosting">Free Hosting and Domain Service (One year)</li>
                  <li i18n="@@freeCourse">Free Course of How to use the Web</li>
                  <li i18n="@@mobileVision">Mobile Vision Support (Plus $299)</li>
                </ul>
              </div>
              <div class="pricing-action">
                <a href="#" class="link-info" i18n="@@contactUs" href="heroes#contact_us">Contact Us</a>
              </div>
            </div>
          </div>
          <div class ="col-md-4">
            <div class="pricing-box" style="">
              <div class = "pricing-title" i18n="@@IntermediateMember">Intermediate Member Web</div>
              <div class = "pricing-price"><span class="price-unit" i18n="@@50Off">50%Off</span>
                $1299+
                <div class="after-price"></div>
              </div>
              <div class = "pricing-features">
                <ul>
                  <li i18n="@@membershipLog">Membership Log in &amp; Register System</li>
                  <li i18n="@@membershipManage">Membership Management System</li>
                  <li i18n="@@staticPage15">Static Page Graphic Design (Fifteen pages)</li>
                  <li i18n="@@pagePosition15">Page Position Adjustment (Fifteen position)</li>
                  <li i18n="@@multiLanguageInterface">Multi-language Interface (Simplified Chinese, English)</li>
                  <li i18n="@@encrySecurity">Encryption Security System</li>
                  <li i18n="@@freeCourse">Free Course of How to use the Web</li>
                  <li i18n="@@freeUpgrade">Free Upgrade Maintenance Service (Half year)</li>
                  <li i18n="@@mobileVision499">Mobile Vision Support (Plus $499)</li>
                </ul>
              </div>
              <div class="pricing-action">
                <a href="#" class="link-info" i18n="@@contactUs" href="heroes#contact_us">Contact Us</a>
              </div>
            </div>
          </div>
          <div class ="col-md-4">
            <div class="pricing-box" style="">
              <div class = "pricing-title" i18n="@@seniorMember">Senior Member Web</div>
              <div class = "pricing-price"><span class="price-unit" i18n="@@40Off">40%Off</span>
                $1999+
                <div class="after-price"></div>
              </div>
              <div class = "pricing-features">
                <ul>
                  <li i18n="@@membershipLog">Membership Log in &amp; Register System</li>
                  <li i18n="@@mallShopping">Mall + Shopping + Payment System</li>
                  <li i18n="@@membershipAndOrder">Membership &amp; Order Management System</li>
                  <li i18n="@@staticPage20">Static Page Graphic Design (Twenty pages)</li>
                  <li i18n="@@pagePostion20">Page Position Adjustment (Twenty position)</li>
                  <li i18n="@@multiLanguageInterface">Multi-language Interface (Simplified Chinese, English)</li>
                  <li i18n="@@encrySecurity">Encryption Security System</li>
                  <li i18n="@@freeCourse">Free Course of How to use the Web</li>
                  <li i18n="@@freeUpgrade">Free Upgrade Maintenance Service (Half year)</li>
                  <li i18n="@@mobileVision699">Mobile Vision Support (Plus $699)</li>
                </ul>
              </div>
              <div class="pricing-action">
                <a href="#" class="link-info" i18n="@@contactUs" href="heroes#contact_us">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="parallax well2 features" data-mobile="true" data-speed="1">
      <div class="container">
        <h3 class="text-center" i18n="@@ourCoreAdvantage">Our Core Advantage</h3>

        <div class="row col-4_mod offs">
          <div class="col-md-4 col-sm-6 wow fadeInLeft" data-wow-delay="0.6s">
            <div class="block-icon">
              <div class="icon">
                <i class="fa fa-th"></i>
              </div>
              <h5>
                <a href='#' i18n="@@advancedWebDevTech">Advanced Internet development technology</a>
              </h5>

              <p class="primary-font primary-text-color" i18n="@@adaptToMostPopularDev">
              We use the most mainstream Internet development technology to make our development process quicker and easier to maintain with higher quality and lower cost</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 wow fadeInLeft" data-wow-delay="0.4s">
            <div class="block-icon">
              <div class="icon">
                <span class="fa fa-edit"></span>
              </div>
              <h5>
                <a href='#' i18n="@@techPlusDesign">Design and Advanced Development Tool</a>
              </h5>

              <p class="primary-font primary-text-color" i18n="@@globalTech"> 
              Creative design from the professional team, heavy usage of advanced development tool and the experienced support from senior insider experts</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 wow fadeInLeft" data-wow-delay="0.2s">
            <div class="block-icon">

              <div class="icon">
                <span class="fa fa-male"></span>
              </div>
              <h5>
                <a href='#' i18n="@@passionateAndProfess">Passionate Experienced Professional Team</a>
              </h5>

              <p class="primary-font primary-text-color" i18n="@@projectManage">
              We have different experts take charge of every sections including project management, interface design, program development,  quality test and marketing promotion</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 wow fadeInRight" data-wow-delay="0.2s">
            <div class="block-icon">
              <div class="icon">
                <span class="fa fa-laptop"></span>
              </div>
              <h5>
                <a href='#globalPromotion'>Globalization Promotion</a>
              </h5>

              <p class="primary-font primary-text-color" i18n="@@chineseAndOverseas">Chinese Market Promotion for Overseas Enterprise &amp; Overseas Market Promotion for Chinese Enterprise</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 wow fadeInRight" data-wow-delay="0.4s">
            <div class="block-icon">
              <div class="icon icon-lg">
                <span class="fa fa-mobile"></span>
              </div>
              <h5>
                <a href='#' i18n="@@multiplePlatform">Multi-platform, comprehensive and one site Service</a>
              </h5>

              <p class="primary-font primary-text-color" i18n="@@fromDeskToApp">From desktop to mobile ePlatform development, and from Web consulting to Web maintenance</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 wow fadeInRight" data-wow-delay="0.6s">
            <div class="block-icon">
              <div class="icon">
                <span class="fa fa-cogs"></span>
              </div>
              <h5>
                <a href='#' i18n="@@highCustomized">Highly Customization</a>
              </h5>

              <p class="primary-font primary-text-color" i18n="@@businessFlexible">We help your company to customized establish the most suitable E-commerce ePlatform to highlighting your business advantages
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="text-center">
          <a href="#" class="btn btn-default" i18n="@@">See All Features</a>
        </div> -->
      </div>
    </section>

    <section class="bg-primary well3 text-center well-2">
      <div class="container wow fadeIn">
        <h2 i18n="@@innovation4">Innovation Persist Quality Reputation</h2>

        <p class="inset h4--mod" i18n="@@innovation4Content">We focus on Web development. Because the focus, so professional.  
           Our team members are more innovative and passionate because of their diverse backgrounds
            We’ve always insisted high quality for product, and persist reputation first.
        </p>
      </div>
    </section>


    <section class="well4 bg-lighter">
      <div class="container text-center">
        <h3 i18n="@@ourTeam">Our team</h3>

        <div class="row row-off-1">
          <div class="col-md-3 col-sm-6 col-xs-12 center wow fadeInUp team-portrait" data-wow-delay="0.2s">

            <div class="thumb-links">

              <img src="/assets/home/page-1_img02.jpg" alt=""/>

              <!-- <div class="over_layer">
                <ul class="_overlay">
                  <li><a class="fa fa-facebook" href="#"></a></li>
                  <li><a class="fa fa-twitter" href="#"></a></li>
                  <li><a class="fa fa-pinterest" href="#"></a></li>
                  <li><a class="fa fa-instagram" href="#"></a></li>
                </ul>
              </div> -->
            </div>
            <h4 class="h4--mod h4--mod--skin fw-l">
              <a href='#' i18n="@@janeYang">Jane Yang</a>
            </h4>

            <p class="event-style event-style--lg" i18n="@@projectManager">Project Manager</p>

            <p class="primary-font" i18n="@@speedAndQuality">Fast and high quality are our core advantages</p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 center wow fadeInUp team-portrait" data-wow-delay="0.4s">
            <div class="thumb-links">
              <img src="/assets/home/page-1_img03.jpg" alt=""/>

             <!--  <div class="over_layer">
                <ul class="_overlay">
                  <li><a class="fa fa-facebook" href="#"></a></li>
                  <li><a class="fa fa-twitter" href="#"></a></li>
                  <li><a class="fa fa-pinterest" href="#"></a></li>
                  <li><a class="fa fa-instagram" href="#"></a></li>
                </ul>
              </div> -->
            </div>
            <h4 class="h4--mod h4--mod--skin fw-l">
              <a href='#' i18n="@@martinZhang">Martin Zhang</a>
            </h4>

            <p class="event-style event-style--lg" i18n="@@developer">Web &amp; APP Developer</p>

            <p class="primary-font" i18n="@@createValue">Create value with your enthusiasm and passion</p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 center wow fadeInUp team-portrait" data-wow-delay="0.6s">

            <div class=" thumb-links">
              <img src="/assets/home/page-1_img04.jpg" alt=""/>

             <!--  <div class="over_layer">
                <ul class="_overlay">
                  <li><a class="fa fa-facebook" href="#"></a></li>
                  <li><a class="fa fa-twitter" href="#"></a></li>
                  <li><a class="fa fa-pinterest" href="#"></a></li>
                  <li><a class="fa fa-instagram" href="#"></a></li>
                </ul>
              </div> -->
            </div>

             <h4 class="h4--mod h4--mod--skin fw-l">
              <a href='#' i18n="@@yukiCheng">Yuki Cheng</a>
            </h4>

            <p class="event-style event-style--lg" i18n="@@developer"> Web &amp; APP Developer</p>

            <p class="primary-font" i18n="@@focusOnNeeds">Focus on customer’s demand, we make high quality products attentively</p>

          </div>

        <!--   <div class="col-md-3 col-sm-6 col-xs-12 center wow fadeInUp team-portrait" data-wow-delay="0.8s">

            <div class=" thumb-links">

              <img src="/assets/home/page-1_img05.jpg" alt=""/> -->

             <!--  <div class="over_layer">
                <ul class="_overlay"> 
                  <li><a class="fa fa-facebook" href="#"></a></li>
                  <li><a class="fa fa-twitter" href="#"></a></li>
                  <li><a class="fa fa-pinterest" href="#"></a></li>
                  <li><a class="fa fa-instagram" href="#"></a></li>
                </ul>
              </div> -->
           <!--  </div>

            <h4 class="h4--mod h4--mod--skin fw-l">
              <a href='#' i18n="@@">Julia Berzkalna</a>
            </h4>

            <p class="event-style event-style--lg" i18n="@@">HR Manager</p>

            <p class="primary-font" i18n="@@">Praesent vestibulum molestie lacus aenean nonummy hendrerit mauris phasel Fusce suscipit varius mi. </p>
          </div> -->
        </div>
      </div>
    </section>


    <section class="parallax well5 portfolio" data-mobile="true" data-speed="1">
      <div class="container" id="portfolio">
        <h3 class="text-center" i18n="@@portfolio">Portfolio</h3>

        <div class="row offs2">
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
            <article class="post">
              <div class="post_cnt">
                <img src="/assets/home/xiangwang.PNG" alt=""/>

                <div class="post_info">
                  <h5>
                    <a href='#' i18n="@@xiangwang">xiangwang</a>
                  </h5>

                  <p i18n="@@xiangwangdetail">A high end online trading platform for photography with forgery distinguishability feature</p>

                  <div class="post_meta">
                    <time datetime="2015-08-21" class="fa fa-clock-o" i18n="@@">Oct. 2017</time>
                   <!--  <p class="fa-user">Admin</p>

                    <p class="fa-tags">dapibus, eget, elemen</p> -->
                  </div>

                </div>
              </div>
             <!--  <div class="post_overlay">
                <div class="post_overlay_info center">
                  <h5>像罔</h5>

                  <p>像罔高端线上摄影作品交易平台，以线上电子防伪功能为特色</p>
                  <a href="#" class="btn btn-primary btn-sm">More</a>
                </div>
              </div> -->
            </article>

            <article class="post second-row">
              <div class="post_cnt ">

                <div class="post_info post_info__md">
                  <h5>
                    <a href='#' i18n="@@particleTech">Particle Technology Research Center</a>
                  </h5>

                  <p i18n="@@particleTechDetail">Particle Technology Research Center belongs to the Department of Chemical and Biochemical Engineering in Western University, a top Canadian University</p>

                  <div class="post_meta">
                    <time datetime="2015-08-21" class="fa fa-clock-o" >Oct. 2017</time>
                 <!--    <p class="fa-user">Admin</p>

                    <p class="fa-tags">dapibus, eget, elemen</p> -->
                  </div>

                </div>
              </div>
             <!--  <div class="post_overlay">
                <div class="post_overlay_info post_overlay_info__md center">
                  <h5>Excepteur sint occaecaton</h5>

                  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. </p>
                  <a href="#" class="btn btn-sm">More</a>
                </div>
              </div> -->
            </article>
          </div>
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.4s">
            <article class="post">
              <div class="post_cnt">
                <img src="assets/home/western.PNG" alt=""/>
                <div class="post_info post_info__md">
                  <h5>
                    <a href='#' i18n="@@particleTech">Particle Technology Research Center</a>
                  </h5>

                  <p i18n="@@particleTechDetail">Particle Technology Research Center belongs to the Department of Chemical and Biochemical Engineering in Western University, a top Canadian University</p>

                  <div class="post_meta">
                    <time datetime="2015-08-21" class="fa fa-clock-o" >Oct. 2017</time>
                 <!--    <p class="fa-user">Admin</p>

                    <p class="fa-tags">dapibus, eget, elemen</p> -->
                  </div>

                </div>
              </div>
             <!--  <div class="post_overlay">
                <div class="post_overlay_info  post_overlay_info__md center">
                  <h5>Excepteur sint occaecaton</h5>

                  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. </p>
                  <a href="#" class="btn btn-sm">More</a>
                </div>
              </div> -->
            </article>
            <article class="post second-row">
              <div class="post_cnt">
                <img src="assets/home/page-1_img07.jpg" alt=""/>

                <div class="post_info">
                  <h5>
                    <a href='#' >Excepteur sint occaecaton</a>
                  </h5>

                  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>

                  <div class="post_meta">
                    <time datetime="2015-08-21" class="fa fa-clock-o">Aug 21. 2015</time>
                   <!--  <p class="fa-user">Admin</p>

                    <p class="fa-tags">dapibus, eget, elemen</p> -->
                  </div>

                </div>
              </div>
             <!--  <div class="post_overlay">
                <div class="post_overlay_info center">
                  <h5>Excepteur sint occaecaton</h5>

                  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. </p>
                  <a href="#" class="btn btn-sm">More</a>
                </div>
              </div> -->
            </article>
          </div>
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.6s">
            <article class="post">
              <div class="post_cnt">
                <img src="assets/home/page-1_img08.jpg" alt=""/>

                <div class="post_info">
                  <h5>
                    <a href='#' >Excepteur sint occaecaton</a>
                  </h5>

                  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. </p>

                  <div class="post_meta">
                    <time datetime="2015-08-21" class="fa fa-clock-o">Aug 21. 2015</time>
                    <!-- <p class="fa-user">Admin</p>

                    <p class="fa-tags">dapibus, eget, elemen</p> -->
                  </div>

                </div>
              </div>
              <!-- <div class="post_overlay">
                <div class="post_overlay_info center">
                  <h5>Excepteur sint occaecaton</h5>

                  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. </p>
                  <a href="#" class="btn btn-primary btn-sm">More</a>
                </div>
              </div> -->
            </article>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-lighter contact-us">
      <div class="container well6  text-center">
        <h3 i18n="@@contactUs">Contact Us</h3>
      </div>
      <!-- <div class="well--skin bg-white">
        <div class="container">
          <div class="row wow fadeInUp" data-wow-delay="0.2s">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-info fa fa-map-marker ">
                <address>
                  <p i18n="@@address">Address</p>
                  <p>352 Front St W suite-2301, Toronto, ON, Canada.</p>
                </address>
              </div>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-info fa fa-mobile">
                <p i18n="@@phones">Phones</p>
                <span>
                  <a href="callto:#">+1 800 559 6580,</a>

                  <a href="callto:#">+1 800 603 6035</a>
                </span>
              </div>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-info fa fa-envelope">
                <p i18n="@@email">Email</p>
                <span><a href="mailto:#">support@yocompute.com</a></span>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </section>
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker [latitude]="lat" [longitude]="lng">
         <agm-snazzy-info-window [maxWidth]="400" [closeWhenOthersOpen]="true">
          <ng-template>
            352 Front St W suite-2301, Toronto, ON
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>
    </agm-map>

     <section class="well7 bg-lighter bottom-area">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay="0.2s">
            <h5 i18n="@@ourTeam">Our team</h5>
            <ul class="marked-list">
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@ourMission"> Yocompute focus on customer demands, and devote continuously to innovation. We’ve always insisted to provide high quality Web development service for our customers day by day with practical actions to win the trust of customers.  We are based in Toronto, and we establish the Web which is novel, elegant, stable, secure and easy to use for our customers specially. If you give us a cooperate chance, you’ll get  Unlimited business opportunities</a>
              </li>
            </ul>
          </div> -->
          <!-- <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInRight clearboth" data-wow-delay="0.4s">
            <h5 i18n="@@ourService">Our Service</h5>
            <ul class="marked-list">
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@webDev">Web Development</a>
              </li>
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@webConsulting">Web Consulting</a>
              </li>
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@cusProgram">Custom Program development</a>
              </li>
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@searchOptimization">Search Optimization</a>
              </li>
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@webMaintemance">Web Maintenance</a>
              </li>
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@webProm">Web Promotion</a>
              </li>
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@domainHosting">Domain &amp; Hosting &amp; Email</a>
              </li>
            </ul>
          </div>
           <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInRight" data-wow-delay="0.2s">
            <h5 i18n="@@customerService">Customer Service</h5>
            <ul class="marked-list">
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@downloads">Downloads</a>
              </li>
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@faq">FAQ</a>
              </li>
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@techSupport">Technical Support</a>
              </li>
            </ul>
          </div> -->
          <div class="col-md-3 col-sm-3 col-xs-3 wow fadeInRight" data-wow-delay="0.2s">
            <h5 i18n="@@contactWays">Contact Ways</h5>
            <ul class="marked-list">
              <li class="fa fa-map-marker ">
                <p i18n="@@address">Address</p>
                <p>352 Front St W suite-2301, Toronto, ON, Canada.</p>
              </li>
              <li class="fa fa-mobile">
                <p i18n="@@phones">Phones</p>
                 <span>
                  <p>+1 800 559 6580,</p>
                  <p>+1 800 603 6035</p>
                </span>
              </li>
              <li class="fa fa-envelope">
                <p i18n="@@email">Email</p>
                <p>support@yocompute.com</p>
              </li>
            </ul>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9 wow fadeInRight" data-wow-delay="0.2s" id="contact_us" >
            <h5 i18n="@@contactUs">Contact Us</h5>
            <p>快速提交您的需求，我们将在24小时内与您联系</p>
            <div class="container">
              <form class='mailform' method="post" action="bat/rd-mailform.php">
                <input type="hidden" name="form-type" value="contact"/>
                <fieldset>
                  <label data-add-placeholder=""> <input type="text"
                                                         name="name"
                                                         i18n-placeholder="@@name"
                                                         placeholder="Name"
                                                         data-constraints="@LettersOnly @NotEmpty"/> </label>

                  <label data-add-placeholder=""> <input type="text"
                                                         name="email"
                                                         i18n-placeholder="@@email"
                                                         placeholder="Email"
                                                         data-constraints="@Email @NotEmpty"/> </label>

                  <label data-add-placeholder=""> <input type="text"
                                                         name="phone"
                                                         i18n-placeholder="@@phones"
                                                         placeholder="Phones"
                                                         data-constraints="@Phone"/> </label>

                  <label data-add-placeholder="" class="textarea">
                                                  <textarea name="message" 
                                                            i18n-placeholder="@@message"
                                                            placeholder="Message"
                                                            data-constraints="@NotEmpty"></textarea> </label>

                  <div class="mfControls text-center">
                    <button class="btn btn-sm" type="submit" i18n="@@send">send</button>
                    <!-- <button class="btn btn-default" type="reset">Reset</button> -->
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

