$light-gray: #f6f6f6;

#home-carousel{
	height:546px;

	.carousel-inner{
		height:100%;
        .carousel-item{
            h2{
                position: absolute;
                top: 25%;
                color: #ffffff;
                font-size: 50px;
                width:100%;
            }
            p{
                position: absolute;
                top: 45%;
                color: #ffffff;
                font-size: 20px;
                width:100%;
            }
        }
	}
}
.primary-font {
    font-family: "Roboto", "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.title-xl{
    font-size: 59px;
    font-weight: 300;
    line-height: 64px;
}

.title-lg{
    font-size: 24px;
    font-weight: 300;
    line-height: 30;
}

.primary-text-color{
    color: #9ca1a8;
}
.text-primary {
    color: #8dbf41!important;
}
.ff-secondary {
    font-family: 'Raleway', sans-serif;
}

.service-section{
    height:552px;
    padding-top:30px;
    background-color:$light-gray;
    .right-side{
        padding-left:32px;

        p{
            display:block;
        }
    }
}
// h1, .h1 {
//     font-size: 59px;
// }
// img {
//     vertical-align: middle;
//     max-width: 100%;
//     height: 100%;
//     border: 0;
// }
// .row {
//     margin-top:20px;
// }

// .section {
//     padding-bottom: 93px;
//     padding-top: 107px;
// }

// .bg-light-gray {
//     background: #f6f6f6;
// }

// .price-postion{
//     padding-bottom:93px;
//     padding-top:14px;
//     border-top: 1px solid rgba(0,0,0,0.075);
// }
// .price-title{
//     margin-top:30px;
//     margin-bottom: 20px;
//     text-align:center!important;
//     width: 100%;
// }
// .price-title h2{
//     font-size: 40px;
//     font-weight: 700;
// }
// .price-title span{
//     margin-top:10px;
//     font-size:30px;
//     font-weight: 300;
// }
// .pricing-box{
//     position: relative;
//     border: 1px solid rgba(0,0,0,0.075);
//     border-radius: 3px;
//     text-align: center;
//     box-shadow: 0 1px 1px rgba(0,0,0,0.1);
//     background-color: #F5F5F5;
//     font-weight: 300
// }
// .pricing-title{
//     padding: 15px 0;
//     background-color: #F9F9F9;
//     border-radius: 3px 3px 0 0;
//     /*text-shadow: 1px 1px 1px #FFF;*/
//     border-bottom: 1px solid rgba(0,0,0,0.05);
//     font-size:25px;
//     font-weight: 500px
// }
// .pricing-price{
//     position: relative;
//     padding: 25px 0;
//     color: #333;
//     font-weight: 300;
//     font-size: 30px;
//     line-height: 1;
// }
// .pricing-price .after-price {
//     content: '';
//     position: absolute;
//     width: 100px;
//     border-top: 1px solid rgba(0,0,0,0.1);
//     top: auto;
//     bottom: 0;
//     left: 50%;
//     margin-left: -50px;
// }
// .pricing-price span {
//     display: inline-block;
//     vertical-align: top;
//     margin: 7px 3px 0 0;
//     font-size: 20px;
//     font-weight: normal;
// }
// .pricing-price .price-unit{
//     color: #ff0000;
// }
// .pricing-features {
//     border-bottom: 1px solid rgba(0,0,0,0.075);
// }
// .pricing-features li {
//     /*padding: 6px 0;*/
//     font-size: 15px;
// }
// .pricing-action {
//     padding: 15px 30px;
// }
// .link-info{
//     color: #03a9f4;
//     font-size: 18px;
// }
// .content-style{
//     margin-top:20px;
//     margin-left: 12px;
// }
// h3{
//     font-size: 36px;
//     font-family: 'Raleway', sans-serif;
//     font-weight: 400;
// }
// .block-icon {
//     position: relative;
//     padding-left: 51px;
// }
// .icon {
//     position: absolute;
//     font: 400 32px/32px 'FontAwesome';
//     color: #8dbf41;
//     display: inline-block;
//     text-align: center;
//     left: 2px;
//     top: -2px;
// }
// .team-portrait{
//     // padding-left:25px;
//     // padding-right:25px;
//     .thumb-links img {
//         width: 100%;
//         height: auto;
//         border-radius: 50%;
//     }
//     .thumb-links{
//         padding-left: 15px;
//         padding-right: 15px;
//     }
//     h4 {
//         font-size: 26px;
//         line-height: 26px;
//     }
//     .fw-l {
//         font-weight: 300;
//     }
//     .h4--mod--skin {
//         font-size: 26px;
//         line-height: 26px;
//     }
//     .event-style {
//         display: inline-block;
//         font: 400 24px/24px 'Open Sans', sans-serif;
//         color: #8dbf41;
//         padding: 8px 7px;
//         border: solid 1px #8dbf41;
//         text-transform: capitalize;
//         font-size: 17px;
//         line-height: 18px;
//         font-weight: 400;
//         margin-top: 18px;
//     }
//     a:hover {
//         text-decoration: none;
//         color: #8dbf41;
//     }
//     a {
//         color: #414851;
//     }
//     p{
//         color: #8d939b;
//     }
// }
// .fa-clock-o:before {
//     padding-right: 5px;
// }
// ul{
//     list-style-type: none;
//     padding-right:40px;
// }
// .features{
//     background-image: url(../../assets/home/parallax1.jpg);
//     color:#ffffff;
//     h3 {
//         font-size: 36px;
//         font-family: 'Raleway', sans-serif;
//         font-weight: 400;
//         margin-bottom:50px;
//     }
//     a {
//         color: #ffffff;
//     }
//     p{
//         margin-top:15px;
//     }
//     .col-4_mod div:nth-child(n+4) {
//         margin-top: 42px;
//     }
// }
// .well3 {
//     padding-bottom: 74px;
//     padding-top: 70px;
//     h2{
//         font-size: 50px;
//         color: #fff;
//     }
//     p{
//         font-size: 22px;
//         color: #fff;
//         padding-left: 5%;
//         padding-right: 5%;
//     }
// }
// .bg-primary {
//     background: #8dbf41!important;;
// }
// .container {
//     margin-right: auto;
//     margin-left: auto;
//     padding:0;
// }
// .portfolio{
//     h3{
//         font-size: 36px;
//         font-family: 'Raleway', sans-serif;
//         font-weight: 400;
//         color: #ffffff;
//         margin-bottom:50px;
//     }
//     background-image: url(../../assets/home/parallax2.jpg);
//     .post {
//         display: block;
//         position: relative;
//         background: rgba(36, 36, 36, 0.6);
//         img {
//             height: auto;
//         }
//         a {
//             color: #ffffff;
//         }
//     }
//     .post_info {
//         padding: 42px 30px 31px 25px;
//         p {
//             color: #9ca1a8;
//             margin-top: 9px;
//             font-size:13px;
//         }
//         .post_meta {
//             margin-top: 17px;
//             color: #8dbf41;
//             font-size: 12px;
//             font-weight: 400;
//             font-family: "Roboto", Helvetica, Arial, sans-serif;
//         }
//     }
//     .second-row {
//         margin-top: 30px;
//     }
// }

// .contact-us{
//     .well6 {
//         padding-bottom: 42px;
//         padding-top: 95px;
//     }
//     .well--skin {
//         padding-top: 42px;
//         padding-bottom: 36px;
//         .contact-info {
//             position: relative;
//             padding-left: 86px;
//             margin-left: 26px;
//             p:first-child {
//                 color: #414851;
//                 font: 400 20px/24px 'Raleway', sans-serif;
//             }
//             p:last-child , a{
//                 font-size:13px;
//                 color: #8d939b;
//                 font-family: "Roboto", Helvetica, Arial, sans-serif;
//                 font-weight: 300;
//             }
//             p {
//                 margin-top: 0;
//                 margin-bottom: 8px;
//             }
//         }
//         .contact-info:before {
//             position: absolute;
//             top: -16px;
//             left: 0;
//             color: #fff;
//             width: 73px;
//             height: 73px;
//             background: #8dbf41;
//             text-align: center;
//             font-size: 35px;
//             line-height: 73px;
//             border-radius: 50%;
//         }
//     }
// }
// agm-map {
//     width: 100%;
//     height: 500px;
// }
// .bottom-area{
//     ul, ol {
//         padding: 0;
//         list-style: none;
//         margin: 0;
//     }
//     .marked-list {
//         margin-top: 44px;
//     }
//     .marked-list li {
//         padding-left: 28px;
//         position: relative;
//         width:100%;
//         margin-top: 5px;
//     }
//     li:before {
//         position: absolute;
//         left: 0;
//         font-weight: 400;
//         font-family: 'FontAwesome';
//         color: #8dbf41;
//         font-size: 20px;
//         top:0;
//     }
//     p{
//         font-size:13px;
//         color: #8d939b;
//         font-family: "Roboto", Helvetica, Arial, sans-serif;
//         font-weight: 300;
//         line-height: 1.84615385;
//         padding: 0; 
//         margin: 0;
//     }
// }
// .mailform {
//     position: relative;
//     text-align: left;
//     margin-left: auto;
//     margin-right: auto;
//     margin-top: 20px;
//     label {
//         position: relative;
//         display: inline-block;
//         width: 32.9%;
//         margin-bottom: 0;
//     }
//     .textarea {
//         width: 100%;
//         margin-left: 0;
//         margin-top: 30px;
//     }
//     textarea {
//         resize: none;
//         overflow: auto;
//         height: 265px;
//         display: block;
//         width: 100%;
//         margin: 0;
//         -webkit-appearance: none;
//         outline: none;
//         font-family: "Roboto", Helvetica, Arial, sans-serif;
//         font-size: 13px;
//         padding: 18px 20px 15px 18px;
//         line-height: 20px;
//         color: #8d939b;
//         background: transparent;
//         border: 1px solid #b1b1b1;
//         font-weight: 400;
//         border-radius: 0;
//     }
//     input {
//             display: block;
//             width: 100%;
//             margin: 0;
//             -webkit-appearance: none;
//             outline: none;
//             font-family: "Roboto", Helvetica, Arial, sans-serif;
//             font-size: 13px;
//             padding: 18px 20px 15px 18px;
//             line-height: 20px;
//             color: #8d939b;
//             background: transparent;
//             border: 1px solid #b1b1b1;
//             font-weight: 400;
//             height: 54px;
//             -webkit-border-radius: 0;
//             -moz-border-radius: 0;
//             border-radius: 0;
//     }
//     .mfControls {
//         margin-top: 35px;
//         word-spacing: 10px;
//         text-align: center;
//     }
//     .mfProgress {
//         position: relative;
//     }
//     .loader{
//         position: absolute;
//     }
//     .btn-sm{
//         min-width: 115px;
//         font-size: 20px;
//         line-height: 1;
//         padding-top: 15px;
//         padding-bottom: 15px;
//         border: 1px solid #8dbf41;
//         background: transparent;
//         color: #8dbf41;
//     }
// }



// @-webkit-keyframes moveInLeft {
//   0% {
//     opacity: 0;
//     -webkit-transform: translate3d(-100%, 0, 0);
//     transform: translate3d(-100%, 0, 0);
//   }

//   100% {
//     opacity: 1;
//     -webkit-transform: none;
//     transform: none;
//   }
// }

// @keyframes moveInLeft {
//   0% {
//     opacity: 0;
//     -webkit-transform: translate3d(-100%, 0, 0);
//     -ms-transform: translate3d(-100%, 0, 0);
//     transform: translate3d(-100%, 0, 0);
//   }

//   100% {
//     opacity: 1;
//     -webkit-transform: none;
//     -ms-transform: none;
//     transform: none;
//   }
// }

// .moveInLeft {
//   -webkit-animation-name: moveInLeft;
//   animation-name: moveInLeft;
// }

// @-webkit-keyframes moveInRight {
//   0% {
//     opacity: 0;
//     -webkit-transform: translate3d(100%, 0, 0);
//     transform: translate3d(100%, 0, 0);
//   }

//   100% {
//     opacity: 1;
//     -webkit-transform: none;
//     transform: none;
//   }
// }

// @keyframes moveInRight {
//   0% {
//     opacity: 0;
//     -webkit-transform: translate3d(100%, 0, 0);
//     -ms-transform: translate3d(100%, 0, 0);
//     transform: translate3d(100%, 0, 0);
//   }

//   100% {
//     opacity: 1;
//     -webkit-transform: none;
//     -ms-transform: none;
//     transform: none;
//   }
// }

// .moveInRight {
//   -webkit-animation-name: moveInRight;
//   animation-name: moveInRight;
// }



@media (min-width: 1200px){

}

@media (min-width: 768px) and (max-width: 1199px){

}

@media (max-width: 767px){
    .text-center{
        text-align: center;
    }
}

@media (max-width:480px){
}